# EE 5020 Homework 2: Statistical inference (frequentist)

Name: Ganesh Anirudh Kasa Kota

CIN: 401975311

## Overview

In this homework, you will practice applying your statistical inference skills on different datasets within the book. Like the previous homework's Section 2, this set of problems will be presented as datasets and associated research questions for you to answer with your own Markdown and Code cells.

## Rubric for this homework

Make sure you write down the reasoning and method of creation for any additional columns or transformations of data you need to create.  Additionally, make sure to justify any conclusions you make to answer questions with statistical tests.  Make sure you justify the statistical test chosen as well (for instance, unpaired vs. paired t-test).

- 25% organization and flow of justification for statistical inference
- 25% organization and flow of Python code
- 25% correct statistical inference
- 25% correct Python code

## Global imports

Write your imports here so you don't have to write imports below.

In [17]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

## Problem 1

**Dataset:** `as_datasets/hof.csv`

**Dataset description:** A data set containing number of hits and hall of fame status of various baseball players

**Write and discuss the steps to answering the following research question:** Subsample the full dataset again by the last two digits of your CIN floor divided by 4. Is it more likely for a hall of famer to have more hits than a non-hall of famer?

In [18]:
HOFdata = pd.read_csv('as_datasets/hof.csv')

In [19]:
def cin_subsample_dataframe(df_input: pd.DataFrame, cin: int) -> pd.DataFrame:
    last_two_digits = cin%100
    selection_value = last_two_digits//4
    selection_vector = np.arange(0, len(df_input),selection_value)
    return df_input.iloc[selection_vector]

In [28]:
hof_subsample=cin_subsample_dataframe(HOFdata,401975311)
hof_subsample.head()

   Hits  HOF
0   972    0
2  1007    0
4  1041    0
6  1046    0
8  1051    0

In [30]:
hof_subsample['Hits'].mean()

1717.9715762273902

In [35]:
int(len(hof_subsample.loc[(hof_subsample['Hits'] > hof_subsample['Hits'].mean()) & (hof_subsample['HOF'] == 1)]))

62

In [37]:
print(len(hof_subsample.loc[(hof_subsample['Hits'] <= hof_subsample['Hits'].mean()) & (hof_subsample['HOF'] == 1)]))

12

In [38]:
print(len(hof_subsample.loc[hof_subsample['HOF'] == 1]))

74

In [39]:
print(len(hof_subsample.loc[(hof_subsample['Hits'] > hof_subsample['Hits'].mean()) & (hof_subsample['HOF'] == 0)]))

91

In [40]:
print(len(hof_subsample.loc[(hof_subsample['Hits'] <= hof_subsample['Hits'].mean()) & (hof_subsample['HOF'] == 0)]))

222

In [41]:
print(len(hof_subsample.loc[hof_subsample['HOF'] == 0]))

313

## Problem 2

**Dataset:** `as_datasets/bac.csv`

**Dataset description:** Data on blood alcohol content (BAC) and whether the subject passed or failed the standardized field sobriety test

**Write and discuss the steps to answering the following research question:** How accurate is a police officer's sobriety test? In other words, do subjects who fail the sobriety test have higher BAC than subjects who passed the sobriety test?

In [21]:
BACdata = pd.read_csv('as_datasets/bac.csv')

## Problem 3

**Dataset:** `as_datasets/caffeine.csv`

**Dataset description:** Endurance times of 9 athletes when given 5 mg and 13 mg of caffeine

**Write and discuss the steps to answering the following research question:** Does a higher concentration of actually prolong the endurance time of an athlete?

In [44]:
CAFdata = pd.read_csv('as_datasets/caffeine.csv')

In [45]:
CAFdata

     mg5   mg13
0  35.05  36.20
1  44.50  46.48
2  73.25  69.47
3  66.20  70.54
4  42.47  37.55
5  52.10  58.33
6  57.17  66.35
7  63.20  79.12
8  85.15  59.30

## Problem 4

**Dataset:** `as_datasets/rent.csv`

**Dataset description:** Monthly rent of 10 randomly selected apartments with less than 100 sq ft in 6 American cities

**Write and discuss the steps to answering the following research question:** Which cities have similar monthly rent means?

In [25]:
RENTdata = pd.read_csv('as_datasets/rent.csv')

In [43]:
RENTdata

   Santa Monica CA  Boise ID  Tucson AZ  Detroit MI  Pittsburgh PA  Orlando FL
0            10230      1600       2495        3195           2480        2242
1            10000      1500       2200        2695           2435        2000
2             9000      1029       2150        2595           2405        1912
3             8500      1025       1800        2495           2350        1895
4             8250       980       1650        2495           2320        1800
5             8000       950       1600        1675           2316        1765
6             7000       950       1500        1525           2305        1685
7             6500       925       1500        1480           2290        1670
8             6000       925       1500        1410           2275        1665
9             5815       900       1500        1400           2265        1625

## Problem 5

**Dataset:** `as_datasets/gpa.csv`

**Dataset description:** A toy data set containing the heights and gpa of 35 students

**Write and discuss the steps to answering the following research question:** Is there a GPA difference between with students in each quartile (25%) of height?  In other words, do students who are in the bottom 25% of height have a different GPA than students who are in the 25-50% or 50-75% or 75-100% of height?

In [26]:
GPAdata = pd.read_csv('as_datasets/gpa.csv')

In [42]:
GPAdata

    height   gpa
0     66.0  2.90
1     57.0  3.16
2     64.5  3.62
3     62.0  2.00
4     69.5  3.45
5     65.0  2.80
6     63.0  3.63
7     68.0  2.81
8     59.5  3.33
9     64.0  2.75
10    69.0  3.86
11    70.0  1.50
12    66.0  2.49
13    73.0  3.10
14    69.0  2.70
15    61.0  1.94
16    68.0  2.13
17    72.0  2.84
18    72.0  2.85
19    73.5  3.33
20    63.0  3.00
21    67.0  3.23
22    64.0  3.59
23    67.0  3.74
24    70.0  2.60
25    68.0  3.39
26    61.5  3.49
27    67.0  2.79
28    71.5  3.20
29    71.0  3.20
30    63.0  3.30
31    60.5  2.70
32    74.0  2.50
33    72.0  2.89
34    67.0  3.20