Name: Ganesh Anirudh Kasa Kota

CIN: 401975311

Why Computer-gpu.csv Dataset?

I am interested in computer engineering because it combines electrical engineering with computer science. We learn about Computer Science and how programming can be integrated into the hardware and form embedded system solutions. We will also learn how transistors work together to formulate chips that are commonly used,  will also learn about data structures in your curriculum and how they make the programming world go round and you will also learn about Digital logic /Systems Design and understand how Verilog /VHDL works with hardware and how to program FPGA. The list goes on and on intl Signals and Systems, AI machine learning, and every branch you can think of in the realm of computing.

Computer engineers use many of the principles and techniques of electrical engineering and many of computer science. Computer engineering, however, is more than a blend of two other fields.

Cybersecurity, Networking, Design automation, Machine intelligence, Computer software, Biomedical,Embedded System

PROJECT- 1

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
dataset = pd.read_csv('project_datasets/computer_gpu.csv')

In [6]:
dataset.head()

,Workgrp_m,Workgrp_n,Workgrp_k,Local_m,Local_n,Mem_m,Mem_n,Kernel_unroll,VectorWidth_m,VectorWidth_n,Stride_m,Stride_n,Cache_A,Cache_B,Runtime
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,116.3700
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.7050
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,80.5650
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,86.6375
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,118.6625

The head() function is used to get the first n rows. It is useful for quickly testing if your object has the right type of data in it.

## Computer engineering: GPU workload design

### Dataset: project_datasets/computer_gpu.csv

#### Dataset description: This is a dataset from running an OpenCL benchmark on an AMD GPU. This benchmark breaks up matrix math by resizing a very large matrix (or large number of matrices) into matrices that can fit in hardware memory and cache by using a third dimension. Columns:

###### 1.Workgrp_m (Workgroup size (number of compute units) used for first dimension of matrices)
###### 2.Workgrp_n (Workgroup size (number of compute units) used for second dimension of matrices)
###### 3.Workgrp_k (Workgroup size (number of compute units) used for third dimension of matrices)
###### 4.Local_m (Local workgroup size (number of kernels running on one compute unit) used for first dimension of matrices)
###### 5.Local_n (Local workgroup size (number of kernels running on one compute unit) used for second dimension of matrices)
###### 6.Mem_m (Local memory length used for first dimension of matrices)
###### 7.Mem_n (Local memory length used for second dimension of matrices)
###### 8.Kernel_unroll (Number of times loops are unrolled)
###### 9.VectorWidth_m (Width of vector instruction used for first dimension of matrices)
###### 10.VectorWidth_n (Width of vector instruction used for second dimension of matrices)
###### 11.Stride_m (Use of off-chip memory for the first dimension of matrices)
###### 12.Stride_n (Use of off-chip memory for the second dimension of matrices)
###### 13.Cache_A (Use of caching scheme A)
###### 14.Cache_B (Use of caching scheme B)
###### 15.Runtime (target, runtime in ms)

###### Problem: For this GPU, which features of the OpenCL benchmark seem to affect runtime the largest? Which statistical modeling technique works best to predict the runtime based on this data? If so, which features are the most important for your model?

In [7]:
dataset.describe()

,Workgrp_m,Workgrp_n,Workgrp_k,Local_m,Local_n,Mem_m,Mem_n,Kernel_unroll,VectorWidth_m,VectorWidth_n,Stride_m,Stride_n,Cache_A,Cache_B,Runtime
count,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000,241600.000000
mean,80.415364,80.415364,25.513113,13.935894,13.935894,17.371126,17.371126,5.000000,2.448609,2.448609,0.500000,0.500000,0.500000,0.500000,217.571953
std,42.469220,42.469220,7.855619,7.873662,7.873662,9.389418,9.389418,3.000006,1.953759,1.953759,0.500001,0.500001,0.500001,0.500001,368.750161
min,16.000000,16.000000,16.000000,8.000000,8.000000,8.000000,8.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,13.317500
25%,32.000000,32.000000,16.000000,8.000000,8.000000,8.000000,8.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,40.667500
50%,64.000000,64.000000,32.000000,8.000000,8.000000,16.000000,16.000000,5.000000,2.000000,2.000000,0.500000,0.500000,0.500000,0.500000,69.790000
75%,128.000000,128.000000,32.000000,16.000000,16.000000,32.000000,32.000000,8.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,228.387500
max,128.000000,128.000000,32.000000,32.000000,32.000000,32.000000,32.000000,8.000000,8.000000,8.000000,1.000000,1.000000,1.000000,1.000000,3341.507500

describe() The describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame. It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.

The head() function is used to get the first n rows. It is useful for quickly testing if your object has the right type of data in it. So hence the Numbers of rows taken are 0 to 24

In [8]:
dataset.head(25)

,Workgrp_m,Workgrp_n,Workgrp_k,Local_m,Local_n,Mem_m,Mem_n,Kernel_unroll,VectorWidth_m,VectorWidth_n,Stride_m,Stride_n,Cache_A,Cache_B,Runtime
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,116.3700
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.7050
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,80.5650
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,86.6375
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,118.6625
5,16,16,16,8,8,8,8,2,1,1,0,1,0,1,83.1650
6,16,16,16,8,8,8,8,2,1,1,0,1,1,0,84.4350
7,16,16,16,8,8,8,8,2,1,1,0,1,1,1,94.5125
8,16,16,16,8,8,8,8,2,1,1,1,0,0,0,119.0775
9,16,16,16,8,8,8,8,2,1,1,1,0,0,1,86.3025
10,16,16,16,8,8,8,8,2,1,1,1,0,1,0,83.9400
11,16,16,16,8,8,8,8,2,1,1,1,0,1,1,86.8425
12,16,16,16,8,8,8,8,2,1,1,1,1,0,0,118.2750
13,16,16,16,8,8,8,8,2,1,1,1,1,0,1,92.3800
14,16,16,16,8,8,8,8,2,1,1,1,1,1,0,86.1675
15,16,16,16,8,8,8,8,2,1,1,1,1,1,1,105.9950
16,16,16,16,8,8,8,8,2,1,2,0,0,0,0,77.3050
17,16,16,16,8,8,8,8,2,1,2,0,0,0,1,65.1175
18,16,16,16,8,8,8,8,2,1,2,0,0,1,0,72.0700
19,16,16,16,8,8,8,8,2,1,2,0,0,1,1,63.8900
20,16,16,16,8,8,8,8,2,1,2,0,1,0,0,77.2775
21,16,16,16,8,8,8,8,2,1,2,0,1,0,1,65.4325
22,16,16,16,8,8,8,8,2,1,2,0,1,1,0,70.5350
23,16,16,16,8,8,8,8,2,1,2,0,1,1,1,63.1825
24,16,16,16,8,8,8,8,2,1,2,1,0,0,0,79.1900

Here we would try to find the relation between "Runtime" column and other columns one by one.

The correlation function DataFrame.corr() calculates the pairwise correlation of the columns in the dataframe and outputs a correlation matrix.

In [9]:
if dataset.corr()['Workgrp_m']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [10]:
if dataset.corr()['Workgrp_n']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [11]:
if dataset.corr()['Workgrp_k']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [12]:
if dataset.corr()['Local_m']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

Inverse Relation

In [13]:
if dataset.corr()['Local_n']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

Inverse Relation

In [14]:
if dataset.corr()['Mem_m']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

Inverse Relation

In [15]:
if dataset.corr()['Mem_n']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

Inverse Relation

In [16]:
if dataset.corr()['Kernel_unroll']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [17]:
if dataset.corr()['VectorWidth_m']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [18]:
if dataset.corr()['VectorWidth_n']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [19]:
if dataset.corr()['Stride_m']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

Inverse Relation

In [20]:
if dataset.corr()['Stride_n']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

Inverse Relation

In [21]:
if dataset.corr()['Cache_A']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

In [22]:
if dataset.corr()['Cache_B']['Runtime'] < 0:
  print ("Inverse Relation")
else:
  print ("No Pattern")

No Pattern

So we came to know that the following have Inverse type relation with Runtime column and others have direct.
Local_m , Local_n , Mem_m , Mem_n , Stride_m , Stride_n have effect on Runtime.

In [23]:
from sklearn.linear_model import LinearRegression

We would now use the regression to predict the value of "Runtime"

What is Regression ?

Linear regression performs the task to predict a dependent variable value (Y) based on a given independent variable (X). So, this regression technique finds out a linear relationship between X(input) and Y(output). Hence, the name is Linear Regression.

In [24]:
dataset.dropna(how='all',inplace=True)

We know that All columns other than "Runtime" are elements which constitutes the Runtime , so on the basis of which we are now going to train all model againt "Runtime".

In [25]:
X = np.array([[dataset["Workgrp_m"],dataset['Workgrp_n'],dataset['Workgrp_k'],dataset["Local_m"],dataset["Local_n"],dataset["Mem_m"],dataset["Mem_n"],dataset['Kernel_unroll'],dataset['VectorWidth_m'],dataset['VectorWidth_n'],dataset["Stride_m"]
    ,dataset["Stride_n"],dataset['Cache_A'],dataset['Cache_B']]])

In [26]:
Y = np.array(dataset["Runtime"].values.tolist())

For Mapping Y to X we need to have Mappable Shape, For this we reshape X.

In [39]:
X.shape

(1, 14, 241600)

For the value X.shape. The shape property is usually used to get the current shape of an array, but may also be used to reshape the array in-place by assigning a tuple of array dimensions to it. As with numpy.reshape, one of the new shape dimensions can be -1, in which case its value is inferred from the size of the array and the remaining dimensions. Reshaping an array in-place will fail if a copy is required.

In [40]:
Y.shape

(241600,)

Similarly for value Y.shape.The shape property is usually used to get the current shape of an array, but may also be used to reshape the array in-place by assigning a tuple of array dimensions to it. As with numpy.reshape, one of the new shape dimensions can be -1, in which case its value is inferred from the size of the array and the remaining dimensions. Reshaping an array in-place will fail if a copy is required.

In [41]:
X = X.reshape(X.shape[1:])

In [42]:
X = X.transpose()

Reverse or permute the axes of an array; returns the modified array.
For an array a with two axes, transpose(x) gives the matrix transpos

In [43]:
X.shape

(241600, 14)

In [44]:
reg = LinearRegression().fit(X, Y)

LinearRegression fits a linear model with coefficients X = (X1, , Xp), Y= (Y1,....,Yp) to minimize the residual sum of squares between the observed targets in the dataset, and the targets predicted by the linear approximation. Whether to calculate the intercept for this model.

In [45]:
reg.score(X, Y)

0.40746998040814764

Linear Regression Scoring: This type of scoring is performed by implementing linear regression algorithm on the random sample of data.

The prediction of Runtime.

In [46]:
reg.predict(np.array([16,16,16,8,8,8,8,2,1,1,0,0,0,1]).reshape(1,-1))

array([-63.96933771])

In this project, 
The given problem was to identify the benchmark factors which had greater impact on gpu runtime. For this one by one took its one feature and correlated it with runtime.corr() function of python. We came to know that Local_m,Local_n,Mem_m,Mem_n and Stride_m, Stride_n has relation that if they increase then Runtime is likely to be decreasing. So they are factors which effect runtime most. And in last we put a regression model and predicted the runtime on bases of it.