In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
HOFdata = pd.read_csv('as_datasets/hof.csv')

In [7]:
HOFdata.describe()

              Hits         HOF
count   774.000000  774.000000
mean   1719.957364    0.182171
std     532.603682    0.386235
min     972.000000    0.000000
25%    1316.000000    0.000000
50%    1566.000000    0.000000
75%    2011.000000    0.000000
max    4256.000000    1.000000

In [8]:
HOFdata.head()

   Hits  HOF
0   972    0
1   989    0
2  1007    0
3  1030    0
4  1041    0

In [9]:
HOFdata.tail()

     Hits  HOF
769  3514    1
770  3630    1
771  3771    1
772  4189    1
773  4256    0

In [10]:
HOFdata.max()

Hits    4256
HOF        1
dtype: int64

In [11]:
HOFdata

     Hits  HOF
0     972    0
1     989    0
2    1007    0
3    1030    0
4    1041    0
..    ...  ...
769  3514    1
770  3630    1
771  3771    1
772  4189    1
773  4256    0

[774 rows x 2 columns]

In [12]:
HOFdata.describe()

              Hits         HOF
count   774.000000  774.000000
mean   1719.957364    0.182171
std     532.603682    0.386235
min     972.000000    0.000000
25%    1316.000000    0.000000
50%    1566.000000    0.000000
75%    2011.000000    0.000000
max    4256.000000    1.000000

In [13]:
print(HOFdata.describe())

              Hits         HOF
count   774.000000  774.000000
mean   1719.957364    0.182171
std     532.603682    0.386235
min     972.000000    0.000000
25%    1316.000000    0.000000
50%    1566.000000    0.000000
75%    2011.000000    0.000000
max    4256.000000    1.000000

In [16]:
HOFdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774 entries, 0 to 773
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hits    774 non-null    int64
 1   HOF     774 non-null    int64
dtypes: int64(2)
memory usage: 12.2 KB